#roll-button{
    border-radius: 10px;
    border: none;
    background: deepskyblue;
    height: 60px;

}

#dice-image{

    margin-left: 43px;
}

#easy{
    background: palegreen;
    border-radius: 10px
}

#inter{
    background: lightyellow;
    border-radius: 10px
}

#hard{
    background: indianred;
    border-radius: 10px
}

.malus{

}

.bonus{

}

.monte{

}

.descente{

}


.box{
    display: inline-block;
    position: relative;
    width: 60px; 
    height: 60px; 
    border: 1px solid black; 
    text-align: center; 
    margin:3px; 
    border-radius:2px
}

.bonus-malus{
    border-style: none;
    position: absolute;
    top:0;
    left: 0;
    width: 20px;
    height: 20px;
}

.monte-descente{
    border: none;
    position: absolute;
    top:0;
    right: 0;
    width: 20px;
    height: 20px;
}

.container {
    position: relative;
    height: 60px;
    top: 30px;
    left: 100px;
    width: 60px;
    text-align: center;
}

.progress-bar__container {
    width: 15%;
    height: 190px;
    border-radius: 2rem;
    left: 89px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px cornflowerblue;
}

.progress-bar {
    position: relative;
    height: 100%;
    width: 100%;
    content: "";
    background-color: cornflowerblue;
    top:0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
}

.progress-bar__text {
    display: none;
}

/**/
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    
    border-radius: 20px;
    background-color: #fff;
    color: rgb(20, 80, 205);
  /*height: 20px;
    width: 100%;*/
}

progress::-webkit-progress-bar {
    background-color:#fff ;
    border:3px solid #fff;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #000;
    border-radius: 5px;
}
.batr{
    height:60px;
    width:400px;
    transform:rotate(-90deg);
    top: 200px;
    left: -90px;
    position:absolute ;
    border: solid 2px black;
    border-radius: none;
}
.after{
    height:30px;
    width:100px;
    position:relative ;
    top:43vh;
    left:47vw;
    background-color:#fff;
}
#bater{
    color:#fff;
    z-index:2;
    background:transparent ;
    border:none;
    position:absolute ;
    bottom:24vh;
    left:50vw;
    font-size:45px;
    
}
#btn{
  height:110px;
  width: 320px;
  text-decoration: none;
  position: absolute;
  bottom: 10vh;
  left: 36vw;
  background-image : linear-gradient(317.2deg, #1a0000 51% , #00ffff -48% );
 border-radius: 40px;
  border-right: 0.01px solid #fff;
  border-style: solid;
  border-width: 0.001px;
}
a{
  text-decoration: none;
  font-size:3rem;
  color: #fff;
  font-family: 'Modak',cursive;
  
}
s{
  color: #000;
}
@media(max-width:500px){
.batr {
  height: 100px;
  width: 190px;
  transform: rotate(-90deg);
  position: absolute;
  top: 40vh;
  left: 25vw;
}
.after {
  height: 15px;
  width: 60px;
  position: relative;
  top: 29vh;
  left: 42.5vw;
  background-color: #fff;
}
#bater {
  color: #fff;
  z-index: 2;
  background: transparent;
  border: none;
  position: absolute;
  bottom: 23vh;
  left: 46vw;
  font-size: 21px;

}







}